{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 style="text-align: center !important;">
            Tienda de Tony Stark
        </h1>
        <br><br>
        <div class="container-fluid">
            <div class="row text-center">
                <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_auto_recuadro">
                    <img src="/media/{{ vehiculo.imagen }}" class="ficha_auto_imagen" alt="">
                </div>
                <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_datos_recuadro">
                    <h1>
                        Marca: {{ vehiculo.marca }}<br><br>
                    </h1>
                    <h2>
                        Modelo: {{ vehiculo.modelo }}<br><br>
                    </h2>
                    <h3>
                        Patente: {{ vehiculo.patente }}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <a href="{% url 'vehiculo_tienda' %}" class="btn btn-info btn-sm">Ir a la tienda</a>&nbsp;&nbsp;&nbsp;
        <a href="{% url 'home' %}" class="btn btn-info btn-sm">Ir a la página de inicio</a>
    </div>
</body>
</html>
