h1 {
    text-align: center !important;
}

.centrar {
    text-align: center;
}

form {
    text-align: left;
    margin:auto;
    border: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 10px;
}

label { 
    width: 190px;
    text-align: left;
}

input {
    width: 300px;
}

li {
    text-align: left;
}